/**
 * Styles for the search input view.
 */

#InputView {
  #InputContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #Title {
    font-size: 56px;
    font-weight: normal;
    margin: 16px 0;
  }

  #QueryInput {
    font-size: 24px;
    border: 1px @text_color solid;
    color: @text_color;
    background-color: @primary_lt;
    padding: 4px;
  }
}
